body {
  background: gainsboro;
}

h1 {
  text-decoration: underline;
  padding-bottom: 20px;
  font-size: 230%;
}

#html {
  display: inline-block;
  border: 2px solid rgb(255, 98, 0);
}

.tables {
  position: static;
  text-align: left;
  overflow-y: scroll;
  overflow-x: scroll;
}

#element-table {
  margin-bottom: 50px;
}

.element-table-body td a:first-child::before {
  content: "<";
}

.element-table-body td a:first-child::after {
  content: ">";
}

thead th {
  background: darkslategray;
  color: #fff;
  font-family: corbel;
  font-size: 16px;
  letter-spacing: 2px;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 200px;
}

thead tr th:last-child {
  width: 100em;
}

tbody {
  font-family: monospace;
}

tbody td {
  border-bottom: 1px solid black;
}

#css {
  margin-top: 50px;
  display: inline-block;
  border: 2px solid rgb(173, 72, 219);
}
